* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Anton', cursive;
    font-weight: normal;
}

body, textarea {
    font-family: 'FjallaOne', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #03989E;
    color: #FF914D;
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #FF914D;
    font-size: 18px;
}

header nav li a {
    color: #FF914D;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section h3{
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links, .product-types li a {
    text-decoration: none
}

#contact .container, #product .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #03989e;
    color: #ff914d;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #182c61
}

input:focus, textarea:focus{
    outline-color: #03989e;
}

footer {
    background-color: #03989e;
    color: #ff914d;
    padding: 16px 0;
}